@import url("https://fonts.googleapis.com/css2?family=Alkalami&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  transition: all 1s ease-in-out;
}
header {
  background-color: #070809;
}
nav {
  display: flex;
  justify-content: center;
  gap:235px;
  padding: 20px 80px;
}
.nav-links a {
  text-decoration: none;
  color: #ffffff;
  padding: 0 20px;
  font-weight: 600;
}
.nav-links a:hover {
  color: #0bd9d9;
}
.socials a i {
  color: #ffffff;
  padding: 0 13px;
}
.socials a i:hover {
  color: #0bd9d9;
}
.hero-part {
  background: #070809;
}
.hero {
  display: flex;
  justify-content: center;
  padding: 80px;
}
.hero-text{
  max-width: 700px;
  width: 700px;
}
.hero-text h1 {
  font-size: 80px;
  color: #ffffff;
  line-height: 80px;
  font-family: "Alkalami", serif;
}

.hero-text p {
  color: #c5c6c7;
  margin-bottom: 1px;
}
#p1 {
  font-weight: 600;
}
.online-cv {
  background: #0bd9d9;
  padding: 14px 24px;
  border-radius: 20px;
  border: none;
  font-size: 12px;
  font-weight: 600;
  margin: 15px 15px 0 0;
}
.online-cv:hover {
  border: 1px solid #0bd9d9;
  color: #0bd9d9;
  background: rgba(11, 217, 217, 0.15);
}
.download-cv {
  padding: 14px 24px;
  border-radius: 20px;
  border: 1px solid #ffffff;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  background: inherit;
}
.download-cv:hover {
  background-color: #ffffff;
  color: #000;
}
.services {
  padding: 4rem 80px 6rem 80px;
  background-color: #0d0d10;
}

.services-head h5 {
  color: #bebebe;
}
.services-head h1 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Alkalami", serif;
}
.service-box {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.service-box .container-box {
  background-color: #070809;
  padding: 60px;
  width: 480px;
  border-radius: 10px;
}
.service-box .container-box:hover {
  border: 1px solid #ffffff;
}
.container-box i {
  color: #0bd9d9;
  margin-bottom: 10px;
  font-size: 30px;
}
.container-box h3 {
  color: #ffffff;
  font-size: 20px;
}
.portfolio {
  background-color: #070809;
  padding: 3rem 80px;
}
.portfolio .portfolio-head h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-size: 40px;
  color: #ffffff;
  font-family: "Alkalami", serif;
}
.project-box img {
  width: 100%;
}
.project {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.project-box {
  width:500px;
  padding: 20px;
  border: 2px solid #ffffff;
}
.project-box:hover {
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 2s ease-in-out;
}
.project-box .desc h3 {
  text-align: center;
  margin: 10px 0;
  color: #ffffff;
  font-family: "Alkalami", serif;
}
.project-box .desc h4 {
  color: #bebebe;
  font-size: 13px;
  text-align: center;
  margin-bottom: 5px;
}
.project-box .desc p {
  color: #c5c6c7;
  font-size: 13px;
}
.project-box a button {
  text-decoration: none;
  font-size: 12px;
  color: #ffffff;
}
.project-box button {
  padding: 10px 20px;
  background-color: inherit;
  border: 2px solid black;
}
.project-box button:hover {
  background-color: #ffffff;
  color: #000;
}
.contact {
  background: #070809;
  padding: 5rem 80px;
}
.contact-head h5 {
  color: #bebebe;
}
.contact-head h1 {
  font-family: "Alkalami", serif;
  color: #ffffff;
}
.contact-body {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.contact-icons .icons-container {
  background: #0d0d10;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.contact-icons .icons-container span i {
  font-size: 30px;
  color: #0bd9d9;
}
.contact-icons .icons-container p {
  font-size: 13px;
  color: #ffffff;
  margin: 10px;
}
form .form-row {
  display: flex;
  margin-bottom: 20px;
}
.form-row .input-data {
  margin-right: 50px;
  background-color: #0d0d10;
  border-radius: 20px;
}
.form-row .input-data input,
.form-row .input-data textarea {
  border: none;
  border-radius: 20px;
  background-color: #0d0d10;
  color: #ffffff;
}
.form-row .input-data input {
  padding: 15px;
  width: 300px;
}
.form-row .input-data textarea {
  width: 650px;
  height: 145px;
  padding: 15px;
  color: #ffffff;
}
::placeholder {
  color: #ffffff;
  font-size: 13px;
}
:-ms-input-placeholder {
  color: #ffffff;
  font-size: 13px;
}
::-ms-input-placeholder {
  color: #ffffff;
  font-size: 13px;
}
form i{
  position: absolute;
  margin-left: -65px;
  margin-top: 25px;
  font-size: 20px;
  color: #0bd9d9;
}
form #submit{
  margin: 10px auto;
  padding: 15px 70px 15px 45px;
  background: #0d0d10;
  color: #ffffff;
  border: none;
  border-radius: 25px;
}
form #submit:hover{
  background: rgba(11, 217, 217, 0.15);
}
footer{
background: #070809;
text-align: center;
padding: 3rem;
}
footer .footer-socials{
  margin-bottom: 2rem;
}
footer .footer-socials a{
  padding: 10px 20px;
  color: #0bd9d9;
  font-size: 20px;
  border: 1px solid #0bd9d9;
  border-radius: 50%;
  margin: 0 10px;
}
footer .footer-socials a:hover{
  background: rgba(11, 217, 217, 0.15);
}
footer p{
  color: #ffffff;
}